<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="StrongholdSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:64246/Stronghold.asmx" binding="basicHttpBinding"
                bindingConfiguration="StrongholdSoap" contract="FileStronghold.StrongholdSoap"
                name="StrongholdSoap" />
        </client>
    </system.serviceModel>
</configuration>